<p id="notice"><%= notice %></p>

<h1>Chuyenbays</h1>

<table>
  <thead>
    <tr>
      <th>Machangbay</th>
      <th>Sanbaydi</th>
      <th>Sanbayden</th>
      <th>Ngay</th>
      <th>Gio</th>
      <th>Giaban</th>
      <th>Soluong</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chuyenbays.each do |chuyenbay| %>
      <tr>
        <td><%= Changbay.find(chuyenbay.machangbay).ma %></td>
        <td><%= Sanbay.find(Changbay.find(chuyenbay.machangbay).noidi).masanbay %></td>
        <td><%= Sanbay.find(Changbay.find(chuyenbay.machangbay).noiden).masanbay %></td>
        <td><%= Changbay.find(chuyenbay.machangbay).ngay %></td>
        <td><%= Changbay.find(chuyenbay.machangbay).gio.strftime("%H:%M") %></td>
        <td><%= chuyenbay.giaban %></td>
        <td><%= chuyenbay.soluong %></td>
        <td><%= link_to 'Show', chuyenbay %></td>
        <td><%= link_to 'Edit', edit_chuyenbay_path(chuyenbay) %></td>
        <td><%= link_to 'Destroy', chuyenbay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chuyenbay', new_chuyenbay_path %>
