<p id="notice"><%= notice %></p>



<p>
  <strong>Machangbay:</strong>
  <%= @chuyenbay.machangbay %>
</p>

<p>
  <strong>Giaban:</strong>
  <%= @chuyenbay.giaban %>
</p>

<p>
  <strong>Soluong:</strong>
  <%= @chuyenbay.soluong %>
</p>

<%= link_to 'Edit', edit_chuyenbay_path(@chuyenbay) %> |
<%= link_to 'Back', chuyenbays_path %>
