<p id="notice"><%= notice %></p>

<p>
  <strong>Masanbay:</strong>
  <%= @sanbay.masanbay %>
</p>

<p>
  <strong>Tensanbay:</strong>
  <%= @sanbay.tensanbay %>
</p>

<%= link_to 'Edit', edit_sanbay_path(@sanbay) %> |
<%= link_to 'Back', sanbays_path %>
