<p id="notice"><%= notice %></p>

<p>
  <strong>Sân bay đi:</strong>
  <%= Sanbay.find(@hanhtrinh.sanbaydi).tensanbay %>
</p>

<p>
  <strong>Sân bay đến:</strong>
  <%= Sanbay.find(@hanhtrinh.sanbayden).tensanbay %>
</p>

<%= link_to 'Edit', edit_hanhtrinh_path(@hanhtrinh) %> |
<%= link_to 'Back', hanhtrinhs_path %>
